#hero-area{
	color: #5b7ea6;
	border: 1px solid #00000d;
	background: #5b7ea6;
	background: -moz-linear-gradient(top, #5b7ea6 0%, #00000d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b7ea6), color-stop(100%, #00000d));
	background: -webkit-linear-gradient(top, #5b7ea6 0%, #00000d 100%);
	background: -o-linear-gradient(top, #5b7ea6 0%, #00000d 100%);
	background: -ms-linear-gradient(top, #5b7ea6 0%, #00000d 100%);
	background: linear-gradient(to bottom, #5b7ea6 0%, #00000d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b7ea6', endColorstr='#00000d', GradientType=0);
}
.navbar-left {
	float: right!important;
	}
.logo-2 {
	float: left;
}
.navbar-brand h2 {
	/*float: left;*/
    display: block;
    font-size: 1.2em;
    font-weight: 900;
    padding: 6px 15px 5px;
    text-transform: uppercase;
    float: right;
}
.navbar-brand a {
	/*background-color: red;*/
}
.logo-heading-top{
	color: white;
	font-size: 2em !important;
	margin-top: 1em;
}
#vkshare0{
	margin-top: 1.4em;
}
#vkshare0 td:nth-child(2) a{
    height: 21px!important;
}
.slogan{
	font-family: inherit;
	font-weight: bold;
}
.attention{
	color: #354259  !important;
    background: #c3cfe9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}
.install-links{
	padding-top: 50px;
}
.start-btn a {
	/*font-size: 18px;*/
	float: right;
    padding: 15px 25px;
    font-size: 25px;
}
.shareaholic-canvas {
	margin-top: 30px;
}
.navbar-fixed-top.animated .shareaholic-canvas{
	margin: 0;
	position: relative;
}
.navbar-fixed-top.animated .navbar-brand {
	padding-top: 12px;
}
.block-heading{
	color: #158cba;
    font-weight: bold;
   
}
.advantages li{
	padding-left: 2em;
}
.advantages li p{
	font-size: 20px!important;
	color: #25334a!important;
}
.install-guide p{
    padding-left: 1.4em;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
	font-size: 20px!important;
	color: #25334a!important;
}
.cover-item{
	margin-left: 1.4em;
    margin-right: 1.4em;
    margin-top: 4em;
    margin-bottom: 1em;
}
.google-store img{
	max-width: 90%!important;
	position: relative;
	left: -12px;
	top: -9px;
}
.post-style{
	padding-top: 0!important;

}
.post-style .counter{
	margin-top: 55px!important;
}