@import "bootstrap";
@import "bootswatch";
.login-btn {
  float: right;
  background-color: #6888ad;
  border-color: #50647b;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  &:hover {
    background-color: #6888ad;
    text-decoration: none;
    border-color: #50647b!important;
  }
  &:focus,
  &:active {
    background-color: #5779a1!important;
    text-decoration: none;
    border-color: #586575!important;
  }
  > span {
    &:not(.vk-logo) {
      vertical-align: middle;
      line-height: 19px;
    }
  }
  .loading {
    position: absolute;
    left: 20px;
    top: 8px;
    i {
      font-size: 25px;
    }
  }
}
.vk-logo {
  background: url(../img/head_icons.png) no-repeat;
  background-position: 0 -98px;
  height: 19px;
  width: 33px;
  display: block;
  float: left;
  margin: 0;
  margin-right: 14px;
}
.navbar-brand {
  padding: 1px 0 0 10px;
  img {
    float: left;
    height: 40px;
    margin-top: 4px;
  }
  h3 {
    font-weight: 700;
    text-transform: uppercase;
    float: left;
    margin-top: 12px;
    margin-left: 11px;
    color: #555555;
  }
}
.loading {
  display: none;
}
.container-fluid {
  &.container-welcome {
    padding: 0;
    .welcome {
      margin: 0;
      border-radius: 0;
      .text {
        margin: 15px 0;
      }
      h1 {
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 35px;
      }
      .header {
        width: 100%;
        display: inline-block;
        img {
          float: left;
        }
        h1 {
          font-size: 48px;
          float: right;
          margin: 0;
          line-height: 115px;
        }
      }
    }
    .footer {
      .loading {
        float: right;
        padding-right: 10px;
        padding-top: 4px;
      }
    }
  }
  .created-by {
    font-style: italic;
    font-size: 17px;
    line-height: 51px;
  }
}