@import "bootstrap";
@import "bootswatch";
.login-btn {
  float: right;
  background-color: #6888ad;
  font-size: 14px;
  line-height: 20px;
  border-radius: 3px;
  padding: 7px 16px 8px;
  margin: 0;
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  background: none;
  background-color: #5e81a8;
  color: #fff;
  border: 0;
  &:hover {
    background-color: #6888ad;
    text-decoration: none;
    color: #fff;
  }
  &:active {
    background-color: #5779a1;
    padding-top: 8px;
    padding-bottom: 7px;
    color: #fff;
  }
}
.vk-logo {
  background: url(../img/head_icons.png) no-repeat;
  background-position: 0 -98px;
  height: 19px;
  width: 33px;
  display: block;
  float: left;
  margin: 0;
  margin-right: 14px;
}
.container-fluid {
  &.container-welcome {
    padding: 0;
    .welcome {
      margin: 0;
      border-radius: 0;
      .text {
        margin: 15px 0;
      }
      h1 {
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 35px;
      }
      .header {
        width: 100%;
        display: inline-block;
        img {
          float: left;
        }
        h1 {
          font-size: 48px;
          float: right;
          margin: 0;
          line-height: 115px;
        }
      }
    }
  }
  .created-by {
    font-style: italic;
    font-size: 9px;
  }
}